                <div class="btn-group mb-2">
                    <button id="enable-control" class="btn btn-primary" disabled>Enable Control</button>
                    <button id="disable-control" class="btn btn-secondary" disabled>Disable Control</button>
                </div>
                
                <hr class="my-3">
                
                <!-- Keylogger Controls -->
                <h5>Keylogger Controls</h5>
                <div class="btn-group mb-2">
                    <button id="start-keylogger" class="btn btn-warning">Start Keylogger</button>
                    <button id="stop-keylogger" class="btn btn-danger" disabled>Stop Keylogger</button>
                    <button id="get-keylog-data" class="btn btn-info">Retrieve Data</button>
                </div>
                
                <hr class="my-3"> 